* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

* a {
  color: white;
}

* h1, * h2, * h3, * p, * a, * ul {
  font-family: Segoe UI;
}

* em {
  font-family: Simple Joys;
}

* input, * select, * button {
  cursor: pointer;
}

/* LANDING PAGE */

/* Head Bar */
.Wmenu {
  background-color: white;
  height: 70px;
  width: 100%;
  padding: 10px;
  border-bottom: solid black;
  position: fixed;
  z-index: 100;
  }

.bar1, .bar2, .bar3 {
  width: 65px;
  height: 8px;
  background-color: #D9B018;
  margin: 3px auto;
  float: left;
  clear: both;
  position: relative;
  bottom: 51px;
  left: 10px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.extend .bar1, .extend .bar2, .extend .bar3 {
  background-color: black;
  border: 0.5px solid #D9B018;
  padding: 3px;
}

.extend .bar1 {
  transform: scale(3, 8) translate(15px, 1.5px);
}
.extend .bar2 {
  transform: scale(3, 8) translate(15px, 7px);
}
.extend .bar3 {
  transform: scale(3, 8) translate(15px, 12.5px);
}

.button a {
  visibility: hidden;
  transition: width 0.6s ease-in;
  transition-delay: 0.5s;
}
.extend a {
  transform: scale(1, 0.5) translate(18.5px, -6.5px);
  visibility: visible;
  float: left;
  clear: both;
  text-align: center;
  font-size: 6px;
  font-weight: bold;
}

.close {
  visibility: hidden;
  width: 65px;
  height: 8px;
  background-color: white;
  border: none;
  position: relative;
  bottom: 10px;
  left: 10px;
  transition: 1s ease-in-out;
}
.extend .close {
  transform: scale(3, 6) translate(15px, 24px);
  visibility: visible;
  background-color:  #009CDE;
  border: 0.5px solid #D9B018;
}

.extend .tri {
  transform: translate(73px, 117px);
  transition: 1s linear;
  visibility: visible;
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 23px solid white;
}

.Wmenu .logo {
  margin: 0 auto 0 auto;
  width: 100px;
}

.Wmenu .user {
  float: right;
  position: fixed;
  top: 5px;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.Wmenu .user img:hover {
  opacity: 0.5;
  transform: scale(1.3, 1.3);
  transition: 1s ease-in-out;
}

.Wmenu .login {
  background-color:#104C97;
  position: fixed;
  top: 10px;
  right: 200px;
  visibility: hidden;
}
.Wmenu .login:hover {
  background-color:#0a3d7d;
}

.Wmenu .signup {
  background-color:#009CDE;
  position: fixed;
  top: 10px;
  right: 70px;
  visibility: hidden;
}
.Wmenu .signup:hover {
  background-color: #068cc4;
}

.Wmenu .open .login, .Wmenu .open .signup {
  color: white;
  padding: 15px 35px 15px 35px;
  border-radius: 30%;
  font-weight: bold;
  visibility: visible;
}

/* Hotel Image + Find a Hotel Button */
.container img {
  width: 100%;
  height: 800px;
  padding: 70px 0 30px 0;
}

.container button:first-of-type {
  position: absolute;
  top: 10%;
  left: 41%;
  background-color: #D9B018;
  color: white;
  font-size: 30px;
  padding: 24px 65px;
  padding-bottom: 20px;
  border: solid white 5px;
  border-radius: 20px;
  transition: background-color 1s ease-in;
}

.container button:first-of-type:hover {
  background-color: #c9a112cb;
}

.container #hotel-opt {
  position: absolute;
  top: 90px;
  left: 350px;
  background-color: black;
  border: 4px solid #D9B018;
  border-radius: 60px;
  width: 800px;
  height: 520px;
  padding: 50px;
  padding-top: 20px;
  display: none;
  opacity: 0.97;
}

.container #hotel-opt span {
  position: absolute;
  right: 35px;
  top: 26px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}

.container #hotel-opt span:hover {
  opacity: 0.3;
}
.container #hotel-opt span:before, .container #hotel-opt span:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 5px;
  background-color: white;
}
.container #hotel-opt span:before {
  transform: rotate(45deg);
}
.container #hotel-opt span:after {
  transform: rotate(-45deg);
}

.container #hotel-opt h2 {
  text-align: left;
  color: white;
  font-size: 55px;
  font-family: Simple Joys;
}

.container #hotel-opt h3 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: Simple Joys;
  margin: 10px;
}

.container #hotel-opt input {
  background-color: white;
  border: 2px solid #A7A7A7;
  color: #A7A7A7;
  font-size: 15px;
}

.container #hotel-opt input:first-of-type {
  padding: 20px;
  width: 700px;
  margin-bottom: 20px;
}

.container #hotel-opt input:nth-of-type(2), .container #hotel-opt input:nth-of-type(3) {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 600px;
  margin: 0 0 10px 50px;
}

.container #hotel-opt .external a {
  background-color: white;
  color: #A7A7A7;
  border: 2px solid #A7A7A7;
  padding: 10px 70px 10px 70px;
  margin-left: 80px;
  position: relative;
  top: 20px;
}

.container #hotel-opt input:last-child {
  border: 5px solid white;
  background-color: #D9B018;
  color: white;
  font-size: 20px;
  padding: 15px 60px 10px 60px;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 530px;
}

.container #hotel-opt input:last-child:hover {
  background-color: #c9a112cb;
}

/* ROOMS PAGE & SPECIAL RATES PAGE */

/* Arrow to go back to landing page for Rooms and Special Rates */
.roomBar a, .srBar a {
  color: black;
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 35px;
  font-family: Segoe UI;
}

.roomBar a:hover, .srBar a:hover {
  color: #009CDE;
}

.roomBar, .srBar {
  background-color: white;
  height: 120px;
  width: 100%;
  padding: 10px;
  border-bottom: 6px solid #D9B018;
  position: static;
  z-index: 2;
}

#roomForm input[type=submit], #srForm input[type=submit] {
    border: 3px dotted white;
    border-radius: 10px;
    background-color: #D9B018;
    padding: 20px 100px 20px 100px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 500px;
    left: 600px;
}

#roomForm input[type=submit]:hover, #srForm input[type=submit]:hover {
    border: 3px dotted #D9B018;
    background-color: #104C97;
}

.roomBar h1, .srBar h1 {
  color: black;
  font-family: Simple Joys;
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 10px;
  left: 40%
}

.roomCon p, .srCon p {
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 25px;
}

.roomCon em, .srCon em {
  font-family: Segoe UI;
}

/* Separate details for Room Page */
#roomForm div {
  position: relative;
  top: 40px;
  left: 100px;;
  float: left;
  margin: 10px;
}
.roomCon label {
  font-size: 30px;
  font-family: Segoe UI;
  font-weight: bold;
}
.roomCon input {
  border: 4px solid #009CDE;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Separate details for Special Rates Page */
#srForm label, #srForm input {
  float: left;
  clear: both;
  margin: 7px;
  font-weight: bold;
  font-family: Segoe UI;
}

#srForm label {
  position: relative;
  left: 510px;
  font-size: 25px;
  color: #009CDE;
}

#srForm input[type=checkbox] {
  position: relative;
  left: 290px;
  height: 30px;
  width: 30px;
}

#srForm input[type=text] {
  text-align: center;
  font-size: 20px;
  padding: 30px 300px 30px 300px;
  position: relative;
  left: 290px;
  margin-top: 20px;
  color: #D9B018;
  border: 3px dashed #009CDE;
}

/* Continuation of LANDING PAGE */

/* Join Button & Phrase */
.bubble {
  float: left;
  padding: 50px;
  position: relative;
  top: 180px;
  left: 70px;
  width: 700px;
  height: 400px;
  border: solid white 8px;
  border-radius: 80px;
  background-color: black;
}

.bubble h1 {
  text-align: center;
  color:white;
  font-size: 50px;
}

.bubble h1:first-of-type {
  text-align: left;
  padding-left: 35px;
}

.bubble h1:last-of-type {
  position: relative;
  bottom: 140px;
  text-align: right;
  padding-right: 40px;
}

.bubble em {
  position: relative;
  bottom: 50px;
  color:#009CDE;
  font-size: 200px;
}

.bubble p {
  position: relative;
  bottom: 120px;
  text-align: center;
  color:white;
  font-size: 20px;
}

.bubble .joinbtn, .bottom-btns .joinbtn {
  z-index: 1;
  background-color: #009CDE;
  font-size: 30px;
  padding: 30px 65px;
  border: solid white 4px;
  border-radius: 10px;
  transition: 0.4s ease-in;
}
.bubble .joinbtn:hover, .bottom-btns .joinbtn:hover  {
  background-color: #068cc4;
  transform: scale(1.5, 1.5);
}
.bubble .joinbtn {
  position: relative;
  bottom: 80px;
  left: 110px;
}
/* Bottom-btns join button is at the bottom of page */
.bottom-btns .joinbtn {
  position: relative;
  bottom: -3300px;
  left: -200px;
  border: 4px solid black;
  padding: 50px 70px 50px 70px;
  font-weight: bold;
}

/* Perks Information */
.perks {
  text-align: center;
  background-color: #104C97;
  height: 1000px;
  z-index: -2;
}

.perks h2 {
  padding-top: 35px;
  font-size: 40px;
  color: white;
}

.perks p {
  padding-top: 5px;
  color: white;
  font-size: 25px;
}

.perks button {
  float: left;
  clear: both;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #009CDE;
  border: 2px white solid;
  margin-bottom: 70px;
  transition: background-color 0.5s ease-in;
  position: relative;
  bottom: 220px;
  left: 1370px;
}
.perks button:hover {
  background-color: #068cc4;
  border: 4px dashed #D9B018;
  cursor: pointer;
}

#speechR1, #speechR2, #speechR3, #speechR4, #speechR5 {
  background-color: white;
  border: 5px double #D9B018;
  color: black;
  font-size: 15px;
  display: none;
  position: relative;
  right: 30px;
  padding: 15px;
  margin-left: 850px;
  margin-right: 90px;
}

#speechR1:first-line, #speechR2:first-line, #speechR3:first-line, #speechR4:first-line, #speechR5:first-line {
  font-size: 22px;
}

#speechR1 a, #speechR2 a, #speechR3 a, #speechR4 a, #speechR5 a {
  color: blue;
  font-size: 13px;
}

#speechR1 img, #speechR2 img, #speechR3 img, #speechR4 img, #speechR5 img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}

#speechR1 {
  position: relative;
  top: 30px;
}

#speechR2 {
  position: relative;
  top: 70px;
}

#speechR3 {
  position: relative;
  top: 110px;
}

#speechR4 {
  position: relative;
  top: 150px;
}

#speechR5 {
  position: relative;
  top: 180px;
}

/* The vertical borders splitting information content */

.v-border1, .v-border2 {
  height: 5px;
  width: 90%;
  background-color: #A7A7A7;
  padding: 10px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Information - Member Tier */

.member-tier {
  position: relative;
}

.member-tier h2 {
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.member-tier p {
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
  padding-right: 70px;
}

.member-tier img {
  position: absolute;
  top: 200px;
  right: 20px;
  z-index: -2;
  border: 4px dotted #D9B018;
}

.member-tier button {
  height: 40px;
  border: 4px solid white;
  color: white;
  text-align: center;
  font-family: Simple Joys;
  font-size: 70px;
  font-weight: bold;
  padding: 40px 10px 100px 0px;
  float: left;
  clear: both;
  cursor: pointer;
}

.member-tier button:hover {
  transition: scale(1.5, 1.5);
  border: 4px black;
}

#D-tier, #G-tier, #S-tier, #B-tier {
  color: white;
  width: 930px;
  height: 620px;
  border: 6px dashed #A7A7A7;
  margin: 30px;
  position: relative;
  bottom: 10px;
  left: 500px;
  display:none;
  z-index: -1;
}

.member-tier button:nth-child(3) {
  width: 300px;
  background-color: rgb(178, 92, 199);
  position: relative;
  left: 280px;
  margin-top: 40px;
}
#D-tier {
  background-color: rgb(178, 92, 199);
}
#D-tier p {
 text-align: center;
 font-size: 30px;
 font-weight: bold;
 position: relative;
 top: 30px;
 margin-bottom: 120px;
 padding-left: 200px;
 padding-right: 120px;
}
#D-tier ul:first-of-type {
 font-size: 25px;
 position: absolute;
 top: 140px;
 padding-left: 300px;
 margin-right: 20px;
 z-index: 3;
}
#D-tier ul:last-child {
 font-size: 25px;
 position: absolute;
 top: 330px;
 padding-left: 300px;
 margin-right: 20px;
  z-index: 3;
}

.member-tier button:nth-child(4) {
  width: 450px;
  background-color: #D9B018;
  position: relative;
  left: 200px;
}
#G-tier {
  background-color: #D9B018;
}
#G-tier p {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 140px;
  padding-right: 100px;
}
#G-tier p:first-of-type {
 position: relative;
 top: 40px;
 margin-left: 300px;
}
#G-tier p:last-of-type {
 text-align: left;
 position: relative;
 top: 10px;
 font-size: 24px;
  margin-left: 300px;
}
#G-tier ul:first-of-type {
 font-size: 25px;
 position: absolute;
 top: 130px;
 padding-left: 300px;
 margin-right: 20px;
}
#G-tier ul:last-child {
 font-size: 25px;
 position: absolute;
 top: 360px;
 padding-left: 420px;
 margin-right: 20px;
}

.member-tier button:nth-child(5) {
  width: 600px;
  background-color: silver;
  position: relative;
  left: 120px;
}
#S-tier {
  background-color: silver;
}
#S-tier p {
 text-align: justify;
 font-size: 30px;
 font-weight: bold;
 position: relative;
 top: 50px;
 margin-bottom: 40px;
 padding-left: 250px;
 padding-right: 100px;
}
#S-tier ul {
 font-size: 25px;
 position: absolute;
 top: 320px;
 padding-left: 420px;
 margin-right: 20px;
}

.member-tier button:nth-child(6) {
  width: 750px;
  background-color: rgb(4, 160, 221);
  position: relative;
  left: 40px;
  margin-bottom: 40px;
}
#B-tier {
  background-color: rgb(4, 160, 221);
}
#B-tier p {
 text-align: left;
 font-size: 30px;
 font-weight: bold;
 position: relative;
 top: 30px;
 margin-bottom: 140px;
 padding-left: 350px;
 padding-right: 70px;
}
#B-tier ul {
 font-size: 24px;
 position: absolute;
 top: 170px;
 padding-left: 350px;
 margin-right: 20px;
}

/* Information - Rewards and Offers */

.SFR, .EO, .v-border2 {
  position: relative;
  bottom: 10px;
  left: 80px;
  float: left;
  clear: both;
  padding-top: 10px;
}

.SFR h2, .EO h2 {
  text-align: center;
  font-size: 60px;
  padding: 30px 0 10px 0;
  position: relative;
  left: 300px;
}

.SFR p, .EO p {
  text-align: center;
  font-size: 30px;
  padding: 5px 0 30px 0;
  position: relative;
  left: 300px;
}

.SFR1 strong, .SFR2 strong, .SFR3 strong, .SFR4 strong, .SFR5 strong {
  z-index: 7;
  color: white;
  font-family: Segoe UI;
  font-size: 40px;
  text-shadow: 2px 2px #D9B018;
}

.SFR1 strong {
  position: absolute;
  top: 510px;
  left: 80px;
}
.SFR2 strong {
  position: absolute;
  top: 450px;
  left: 740px;
}
.SFR3 strong, .SFR4 strong, .SFR5 strong {
  position: absolute;
  top: 630px;
  font-size: 30px;
}
.SFR3 strong {
  position: absolute;
  left: 120px;
}
.SFR4 strong {
  position: absolute;
  left: 520px;
}
.SFR5 strong {
  position: absolute;
  left: 920px;
}

.SFR1 p, .SFR2 p  {
  text-align: center;
  color: white;
  z-index: 7;
  font-size: 25px;
  font-family: Segoe UI;
  border: 2px dotted white;
  background-color: #D9B018;
  padding: 10px;
}

.SFR3 p, .SFR4 p, .SFR5 p   {
  text-align: center;
  color: white;
  z-index: 7;
  font-size: 18px;
  font-family: Segoe UI;
  border: 2px dotted white;
  background-color: #D9B018;
  padding: 20px;
}

.SFR1 p {
  position: absolute;
  top: 220px;
  left: 80px;
  margin-right: 100px;
}
.SFR2 p {
  position: absolute;
  top: 190px;
  left: 1200px;
  padding: 20px 10px 20px 10px;
}
.SFR2 a {
  position: absolute;
  top: 220px;
  left: 860px;
  border: 2px solid white;
  border-radius: 15%;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: black;
  padding: 20px 90px 20px 90px;
  font-size: 25px;
}
.SFR2 a:hover {
  transition: 0.3s ease-in-out;
  background-color: #009CDE;
  border: 3px dashed white;
  color: white;
}
.SFR3 p {
  position: absolute;
  top: 680px;
  left: 130px;
  margin-right: 400px;
}
.SFR4 p {
  position: absolute;
  top: 780px;
  left: 560px;
}
.SFR5 p  {
  position: absolute;
  top: 630px;
  left: 1090px;
}

.SFR1 p:hover, .SFR2 p:hover, .SFR3 p:hover, .SFR4 p:hover, .SFR5 p:hover{
  transform: scale(1.5, 1.5);
  z-index: 8;
  cursor: pointer;
  border-width: 5px;
}

.SFR1 img, .SFR2 img {
  z-index: -3;
  width: 600px;
  height: 370px;
  left: 50px;
}
.SFR1 img {
  position: absolute;
  left: 50px;
}
.SFR2 img {
  position: absolute;
  left: 700px;
}

.SFR3 img, .SFR4 img, .SFR5 img {
  width: 300px;
  height: 320px;
  z-index: -3;
  display: inline-block;
  position: absolute;
  top: 620px;
}
.SFR3 img {
  position: absolute;
  left: 100px;
}
.SFR4 img {
  position: absolute;
  left: 500px;
}
.SFR5 img {
  position: absolute;
  left: 900px;
  display: block;
}

.v-border2:last-of-type {
  margin-top: 800px;
}

.EO h2, .EO p  {
  position: static;
  padding-left: 200px;
}

.EO1, .EO2, .EO3, .EO4 {
  position: absolute;
  float: left;
  clear: both;
}
.EO1 {
  left: 10px;
}
.EO2 {
  top: 850px;
  left: 10px;
}
.EO3 {
  left: 700px;
}
.EO4 {
  top: 850px;
  left: 700px;
}

.EO1img, .EO2img, .EO3img, .EO4img {
  display: block;
  width: 600px;
  height: 560px;
  margin: 20px;
}

.EO1 strong, .EO2 strong, .EO3 strong, .EO4 strong {
  z-index: 3;
  color: white;
  font-family: Segoe UI;
  font-size: 50px;
  text-shadow: 2px 2px #D9B018;
  text-align: center;
  position: relative;
  bottom: 500px;
  left: 80px;
}
.EO1 strong {
  left: 40px;
}

.EO1 em, .EO2 em, .EO3 em, .EO4 em {
  font-size: 38px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  }

.EO1:hover .overlay, .EO2:hover .overlay, .EO3:hover .overlay, .EO4:hover .overlay {
  opacity: 0.8;
}

.EOtext {
  color: white;
  position: absolute;
  top: 300px;
  left: -30px;
  transform: scale(0.8, 0.8) translate(-15%, -50%);
  display: inline-inline-block;
  }

.EO1 a, .EO2 a, .EO3 a, .EO4 a {
  padding: 30px;
  border: 2px solid white;
  border-radius: 15%;
  background-color: #104C97;
  color: white;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  bottom: -100px;
  right: -100px;
}

.EO1 a:hover, .EO2 a:hover, .EO3 a:hover, .EO4 a:hover {
  border: 3px dashed;
  background-color: #009CDE;
  transition: 0.5s ease-in-out;
  transform: scale(1.2, 1.2);
}

/* SIGN UP PAGE */

/* Menu bar for Sign up page */

.Wmenu .arrow {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.Wmenu .arrow:hover {
  transition: 1s ease;
  opacity: 0.5;
  transform: scale(0.8, 0.8);
}

.Wmenu .user .login2 {
  background-color:#104C97;
  position: fixed;
  top: 10px;
  right: 80px;
  visibility: hidden;
}
.Wmenu .user .login2:hover {
  background-color:#0a3d7d;
}
.Wmenu .open .login2 {
  color: white;
  padding: 15px 35px 15px 35px;
  border-radius: 30%;
  font-weight: bold;
  visibility: visible;
}

/* Reminders of benefits Icons */

.iconBene img {
  position: fixed;
  top: 70px;
  float: left;
  clear: both;
  background-color: #104C97;
  padding: 30px 10px 20px 10px;
}
.iconBene img:nth-of-type(2) {
  position: fixed;
  top: 270px;
}
.iconBene img:nth-of-type(3) {
  position: fixed;
  top: 450px;
}
.iconBene img:nth-of-type(4) {
  position: fixed;
  top: 650px;
}
/* Sign-up Form */

.formhead h1 {
  text-align: center;
  position: absolute;
  top: 12%;
  left: 45%;
  font-size: 50px;
}

.formhead p em {
  position: absolute;
  top: 23%;
  left: 33%;
  font-size: 20px;
  font-family: Segoe UI;
}

form .details {
  float: left;
  position: absolute;
  top: 28%;
  left: 30%;
}

form .details select {
  padding: 20px 0 20px 20px;
  margin: 15px 0 20px 20px;
  border: 2px solid black;
  border-radius: 20px;
}

form select:hover, form input:hover, form .third-twoF input:hover  {
  background-color: #F5F5F5;
  border: 2px solid #009CDE;
  transition: 0.5s ease;
  color: black;
}

.firstF input {
  padding: 20px 150px 20px 20px;
  margin: 15px 1px 20px 20px;
  border: 2px solid;
  border-radius: 20px;
}

.secondF input {
  padding: 20px 230px 20px 20px;
  margin: 40px 80px 0 20px;
  border: 2px solid;
  border-radius: 20px;
}

.third-oneF select {
  padding: 20px 4px 20px 20px;
  margin: 40px 0 20px 20px;
  border: 2px solid;
  border-radius: 20px;
}
.third-oneF input {
  padding: 20px 90px 20px 20px;
  margin: 40px 0 20px 20px;
  border: 2px solid;
  border-radius: 20px;
}
.third-twoF input:first-of-type {
  padding: 20px 430px 20px 20px;
  margin: 15px 20px 20px 20px;
  border: 2px solid;
  border-radius: 20px;
}
.third-twoF input {
  padding: 20px 60px 20px 20px;
  margin: 15px 0 20px 20px;
  border: 2px solid;
  border-radius: 20px;
}

/* Input Icons */

.iconInputs {
  position: absolute;
  top: 265px;
  left: 370px;
}

.iconInputs .telIcon {
  margin-top: 50px;
}
.iconInputs .mailIcon {
  position: absolute;
  top: 125px;
  left: 530px;
}
.iconInputs .houseIcon {
  position: absolute;
  top: 265px;
}

/* Create a password section  */

.req {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 20%;
}
.req h2 {
  position: relative;
  top: 140px;
  left: 280px;
  margin: 15px 0 20px 0;
  font-size: 40px;
}
.req p em {
  position: relative;
  top: 140px;
  border: 3px dotted #c9a212;
  float: left;
  padding: 10px 100px 10px 100px;
  margin-top: 20px;
  background-color: rgb(231, 195, 65, 0.5);
  text-align: center;
  font-size: 20px;
  font-family: Segoe UI;
}
.req p:nth-last-child(2), .req p:last-child  {
  position: relative;
  bottom: 145px;
  left: 550px;
}

.pass input {
  position: relative;
  bottom: 40px;
  padding: 20px 200px 20px 20px;
  margin: 10px 0 35px 200px;
  border: 2px solid;
  border-radius: 20px;
  font-size: 18px;
}
.pass input:first-of-type {
  margin-top: 1170px;
}
.pass input:hover {
  background-color: #F5F5F5;
  border: 2px solid #009CDE;
  transition: 0.5s ease;
  color: black;
}

.checking {
  height: 80px;
  width: 80px;
  background-color: white;
  border: 13px solid black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 1150px;
  margin: 30px;
}

/* Join Button leads to end point page */

.join {
  background-color: #009CDE;
  border: none;
  border-radius: 10px;
  padding: 80px 160px 80px 160px;
  margin: 40px;
  margin-left: 220px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.join:hover {
  background-color: #068cc4;
  transition: 1s ease;
}

.card img {
  position: absolute;
  top: 1000px;
  left: 750px;
  z-index: -1;
}

/* Image next to password input allows users to check it if interested in the card or not */

.checkbox {
  display: block;
  position: absolute;
  top: 1300px;
  left: 810px;
  padding: 0 247px 21px 50px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 20px;
  color: white;
  background-color: #1d1d1d;
  border: 2px #1d1d1d solid;
  border-left-width: 30px;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  padding-left:40px;
}
.checkagree {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}
.checkbox:hover input ~ .checkagree {
  background-color: #D9B018;
}
.checkbox input:checked ~ .checkagree {
  background-color: #009CDE;
}
.checkagree:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkagree:after {
  display: block;
}
.checkbox .checkagree:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Links are active within image and will lead to a different page + Terms & Conditions + Fine print */

.sLinks p {
  position: absolute;
  top: 1310px;
  left: 1220px;
  word-spacing: 12px;
  font-size: 13px;
}
.TC p {
  position: absolute;
  top: 1450px;
  left: 850px;
  padding: 0 100px 0 10px;
  line-height: 1.5;
}

.note p {
  position: absolute;
  top: 1700px;
  left: 180px;
  line-height: 1.5;
  font-size: 13px;
}

/* END POINT Page */

/* Menu bar but blue colour */
.Bmenu {
  background-color: #104C97;
  height: 70px;
  width: 100%;
  padding: 10px;
  border-bottom: solid black;
  position: fixed;
  z-index: 2;
  }

  .Ebar1, .Ebar2, .Ebar3 {
    width: 65px;
    height: 8px;
    background-color: white;
    margin: 3px auto;
    float: left;
    clear: both;
    position: relative;
    bottom: 50px;
    left: 10px;
    transition: 1s ease-in-out;
    cursor: pointer;
  }

  .extend .Ebar1, .extend .Ebar2, .extend .Ebar3 {
    background-color: black;
    border: 0.5px solid #D9B018;
    padding: 3px;
  }

  .extend .Ebar1 {
    transform: scale(3, 8) translate(15px, 1.5px);
  }
  .extend .Ebar2 {
    transform: scale(3, 8) translate(15px, 7px);
  }
  .extend .Ebar3 {
    transform: scale(3, 8) translate(15px, 12.5px);
  }

  .close {
    visibility: hidden;
    width: 65px;
    height: 8px;
    background-color: white;
    border: none;
    position: relative;
    bottom: 10px;
    left: 10px;
    transition: 1s ease-in-out;
  }

  .Bmenu .logo {
    margin: 0 auto 0 auto;
    width: 100px;
  }

  .Bmenu .user {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
  }

  .Bmenu .user img:hover {
    opacity: 0.5;
    transform: scale(1.3, 1.3);
    transition: 1s ease-in-out;
  }

  .Bmenu .login3 {
    background-color: #009CDE;
    position: fixed;
    top: 10px;
    right: 80px;
    visibility: hidden;
  }
  .Bmenu .login3:hover {
    background-color:#D9B018;
  }

  .Bmenu .open .login3 {
    color: white;
    padding: 15px 35px 15px 35px;
    border-radius: 30%;
    font-weight: bold;
    visibility: visible;
  }

  /* End Point Image + Quote */

.endImg img {
  width: 100%;
  height: 450px;
  z-index: -1;
}

.endImg h1 {
  float: left;
  clear: both;
  font-family: Simple Joys;
  font-weight: bold;
  font-size: 150px;
  position: absolute;
  top: 100px;
  left: 60px;
  color: #009CDE;
  margin-top: 50px;
}

.endImg h1 em {
  font-family: Segoe UI;
  color: white;
  font-size: 50px;
  position: relative;
  top: 50px;
  margin-left: 50px;
}

/* FOOTER for all pages */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 200px;
}

#footer1 {
  position: absolute;
  bottom: -3800px;
}
#footer2 {
  position: absolute;
  bottom: -1300px;
  z-index: 99;
}

footer {
  background-color: #F5F5F5;
  border-top: 3px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: -99;
}

footer a {
  color: blue;
  line-height: 30px;
  font-size: 15px;
}
footer p {
  font-weight:500;
}

footer .logo {
  margin: 30px;
}

footer div:nth-child(2) {
  float: left;
  clear: both;
  margin: 10px;
  position: absolute;
  bottom: 20px;
  left: 250px;
}
footer div:nth-child(3) {
  float: right;
  margin: 20px;
  position: absolute;
  bottom: 10px;
  right: 500px;
}
footer div:nth-child(4) {
  float: right;
  margin: 20px;
  position: absolute;
  bottom: 50px;
  right: 210px;
}

/* Feedback pop-up in footer */
footer button:first-of-type {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 16px 15px;
  border: 3px #D9B018 solid;
  position: absolute;
  bottom: 23px;
  right: 28px;
  width: 280px;
  z-index: -3;
}
footer button:first-of-type:hover {
  background-color: #009CDE;
  color: white;
  transition: 0.8s ease-in-out;
}

.FB-pop {
  display: none;
  position: absolute;
  bottom: 200px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 99;
}
.FB-container {
  max-width: 600px;
  padding: 10px;
  background-color: white;
}
.FB-container img {
  width: 100px;
  height: 100px;
}
.FB-container p {
  position: relative;
  top: -60px;
  margin-bottom: 35px;
}
.FB-container input[type=radio] {
  position: absolute;
  bottom: 200px;
  padding: 10px;
}
.FB-container input[type=select], .FB-container input[type=text] {
  width: 100%;
  padding: 50px;
  margin: 0 0 30px 0;
  border: none;
  background: #f1f1f1;
}
.FB-container .submitFB {
  background-color: #D9B018;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
  z-index: 10;
  position: relative;
  left: 0;
}
.FB-container .submitFB:hover {
  opacity: 0.8;
}
